.button {
  display: flex;
  align-items: center;
  border: none;
  gap: 10px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.circleButton {
  width: 43px;
  height: 43px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.defaultButton {
  height: 38px;
  background-color: var(--secondaryWhiteColor);
  padding: 16px 20px 14px 20px;
  border-radius: 50px;
  text-transform: uppercase;
  color: var(--primaryBgColor);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.46px;
  letter-spacing: -0.03em;
}

.blackButton {
  background-color: var(--primaryBgColor);
  color: var(--secondaryWhiteColor);
}

.blackButton:hover {
  color: var(--primaryBgColor);
}